.announcement {
  // display: flex;
  background: $primaryColor1;
  // height: 793px;
  text-align: center;
  padding: 60px 0 44px 0;

  &__title {
    
    margin-bottom: 32px;
    color: #FFFFFF;

    &__first {
      font-size: 32px;
      font-weight: 700;
      letter-spacing: .2em;
      margin-bottom: 4px;
    }

    &__second {
      font-size: 28px;
      font-weight: 700;
      letter-spacing: .2em;
    }
  }

  &__btn {
    display: inline-block;
    position: relative;
    margin-bottom: 32px;
    width: 200px;
    height: 57px;
    background: $primaryColor2;
    border-radius: 50px;
    border: none;
    color: #FFFFFF;
    letter-spacing: .2em;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 700;
      font-size: 18px;
    }
  }

  &__content {
    position: relative;
    margin: 0 auto;
    width: 366px;
    border: 2px solid $primaryColor2;
    border-radius: 20px;
    padding: 24px 16px 0 16px;
    background: $primaryColor3;
    @include pad{
      width: 768px;
    }

    @include pc{
      width: 808px;
    }

    &__supImg {
      position: absolute;
      top: -25px;
      right: -12px;
      @include pad{
        right: 25px;
        top: -32px;
      }

      @include pc{
        right: 16px;
        top: -30px;
      }
    }

    &__supImg2 {
      position: absolute;
      left: 9px;
      bottom: -41.9px;
      transform: rotate(-8.53deg);
      @include pad{
        left: 43px;
        bottom: -48.09px;
      }
      @include pc{
        left: 38px;
        bottom: -49.09px;
      }
    }

    &__firework {
      position: absolute;
      left: -18px;
      bottom: -44px;
      @include pad{
        left: 16px;
        bottom: -51px;
      }
      @include pc{
        left: 16px;
        bottom: -46.8px;
      }
    }

    &__paragraph {
      margin-bottom: 24px;

      &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 700;
        color: $primaryColor1;
      }

      &__list {
        margin-top: 16px;
        text-align: left;
        color: $primaryColor1;

        ol {
          padding-left: 16px;
          line-height: 28.8px;
        }
      }
    }
  }
}