.lottery {
  background: $primaryColor4;
  padding: 64px 21px 49px 21px;

  &__container {
    width: 366px;
    margin: 0 auto;
  }
  
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 178px);
    grid-gap: 41px 16px;

    &__item {
      position: relative;
      width: 178px;
      height: 112px;
      background: #FFFFFF;
      border-radius: 20px;
      box-shadow: 0px 8px 0px #EDEEF0;

      &.certificateA {
        color: $primaryColor6;
      }

      &.certificateD {
        color: $primaryColor7;
      }

      &__rank {
        position: absolute;
        left: 50%;
        top: -24px;
        transform: translateX(-50%);


        &__level {
          position: absolute;
          top: 20.68px;
          left: 26.98px;
          color: #FFFFFF;
          font-size: 17px;
        }
      }

      &__one {
        position: absolute;
        right: 8px;
        top: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 23px;
        width: 45px;
        border: 1px solid;
        border-radius: 50px;
        text-align: center;
        font-size: 12px;
        font-weight: 300;

      }

      &__name {
        margin-top: 58px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        
        span {
          font-weight: 700;
        }
      }
    }
  }
}